<h2>Task 6</h2>

<b>$timeout value:</b> {{timeoutServiceValue}} <br/>
<b>setTimeout value:</b> {{setTimeoutValue}}

<br/>
<br/>
<br/>

<b>Ajax response: </b> {{ajaxResponse}} <br/>
<a href="" ng-click="httpServiceCall()">Call via $http</a> <br/>
<a href="" ng-click="xmlHttpRequestCall()">Call via XMLHttpRequest</a> <br/>
<a href="" ng-click="xmlHttpRequestWithApply()">Call via XMLHttpRequest with $apply()</a> <br/>
<a href="" ng-click="xmlHttpRequestWithDigest()">Call via XMLHttpRequest with $digest()</a> <br/>
<a href="" ng-click="xmlHttpRequestWithPromise()">Call via XMLHttpRequest angular $q promise</a> <br/>